        <div id="content">
            <div class="container">
                <p class="text-muted lead text-center">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>

                <div class="row products row-centered">

                    <div class="col-md-3 col-sm-4 col-centered">
                        <div class="product">
                            <div class="image">
                                <a href="../shop-detail-product1/index.html">
                                    <img src="img/product1.png" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="../shop-detail-product1/index.html">Map Monde</a></h3>
                                <p class="price">Inclu dans le pack Digger</p>
                                <p class="buttons">
                                    <a href="shop-detail.html" class="btn btn-default">View detail</a>
                                    <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->
                           <div class="ribbon sale">
                                <div class="theribbon">FREE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-centered">
                        <div class="product">
                            <div class="image">
                                <a href="../shop-detail-product2/index.html">
                                    <img src="img/product1.png" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="../shop-detail-product2/index.html">Les genres et leurs sous genres</a></h3>
                                <p class="price">Inclu dans le pack Digger</p>
                                <p class="buttons">
                                    <a href="../shop-detail-product2/index.html" class="btn btn-default">View detail</a>
                                    <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">FREE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                     </div>

                    <div class="col-md-3 col-sm-4 col-centered">
                        <div class="product">
                            <div class="image">
                                <a href="../shop-detail-product3/index.html">
                                    <img src="img/product1.png" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="../shop-detail-product3/index.html">All We Need Is Acid</a></h3>
                                <p class="price">15 €</p>
                                <p class="buttons">
                                    <a href="shop-detail.html" class="btn btn-default">View detail</a>
                                    <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->


                        </div>
                        <!-- /.product -->

                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

                <div class="col-sm-12">

                    <div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->
        </div>